.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  align-self: flex-end;  
  width: 200px;
  height: 200px;
}

.green {
background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

@media screen and (max-width: 500px) {
  .container {
    flex-wrap: wrap;
  }

  .item {
    width: 100%;
  }
}

