body {
  background-color: rgb(4, 4, 87);
}

i {
  font-size: 200%;
  padding: 10px;
}

.container {
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  margin: auto;
  margin-top: 15%;
}

button {
  color: gainsboro;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
  border: 0cm;
  background-color: black;
  justify-content: space-between;
  display: flex;
  padding: 0%;
  line-height: 50px;
  vertical-align: middle;
}

button[data-action] {
  visibility: hidden;
  width: 150px;
}

div[data-action] {
  width: 100px;
  height: 50px;
  color: white;
  margin: 0%;
  font-size: 150%;
}

button[data-action="delete"] {
  color: red;
}

button[data-action="confirm"] {
  color: green;
}

div[data-action="delete"] {
  background-color: red;
}

div[data-action="confirm"] {
  background-color: green;
}

button:hover~button[data-action="delete"] {
  visibility: visible;
}

button:hover~div[data-action] {
  visibility: visible;
  
}